/*================================ 
    #RESPONSIVE CSS 
====================================*/

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

/* Front Page Product */
  .front-page-product-area .tab-content .item {
    width: calc(100% / 3);
    padding: 7px;
    float: left;
  }

/* About */
  .about-area .right-info {
    margin-top: 25px;
  }

/* Featured Product */
  .featured-pro-items .single-item > .row {
    display: block;
  }

  .featured-product-area .featured-pro-items .thumb {
    padding: 0;
  }

  .featured-pro-items .single-item .info {
    padding: 30px;
  }

  .product-single-area .product-sidebar {
    margin-top: 50px;
  }


/* Why Chose Us */

  .why-us-area .side-bg {
    display: none;
  }

  .why-us-area .why-us-items .single-item::after {
    display: none;
  }

  .why-us-area .why-us-items {
    margin-top: 0;
  }

  .why-us-area .why-us-items .item .icon i::after {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: none;
  }

  .why-us-area .why-us-items .single-item {
    margin-bottom: 30px;
    padding: 0 10%;
  }

  .why-us-area .why-us-items .single-item:last-child {
    margin-bottom: 0;
  }

  .why-us-area .why-us-items .item .info p {
    padding: 0 5%;
  }

/* Author Profiel */
  .nav-pills > li {
    width: auto;
    text-align: center;
    display: inline-block;
    float: none;
  }

  .author-profile-area .author-info .profile-info > .top-info {
    display: block;
  }

  .author-profile-area .author-info .item-info {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 30px;
    border-top: 1px solid #e7e7e7;
    padding-top: 30px;
  }

  .author-profile-area .author-info .nav-pills {
    text-align: center;
    margin-top: 30px;
  }

  .author-profile-area .author-info .profile-info {
    padding-left: 15px;
  }

  .author-profile-area .author-info .item-info ul {
    display: block;
    text-align: center;
    width: auto;
  }

  .author-profile-area .author-info .profile-info .item-info li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .author-profile-area .author-info .profile-info .item-info .rating {
    position: relative;
    top: -5px;
  }

  .author-profile-area .author-info > .thumb {
    padding-left: 10px;
    text-align: center;
  }

  .author-info .bio {
    position: absolute;
    left: 50%;
    top: -135px;
    margin-left: 10px;
  }

  /* Followers */
  .author-profile-area .author-info .profile-info .followers .item, 
  .author-profile-area .author-info .profile-info .following .item {
    width: calc(100% / 5);
  }

/* Blog */
  .blog-area .sidebar {
    padding-left: 15px !important;
    padding-right: 15px !important;
    float: left;
    width: 100%;
    margin-top: 50px;
  }

/* Our Features */
  .our-features-area .features-items .item {
    display: block;
    text-align: center;
  }

  .our-features-area .features-items .item .icon i {
    margin-bottom: 20px;
  }

  .our-features-area .features-items .single-item {
    border: none;
    margin-bottom: 50px;
  }

  .our-features-area .features-items .single-item:last-child {
    margin-bottom: 0;
  }

  .our-features-area .features-items .item p {
    padding: 0 10%;
  }

/* Join Us Area */
  .join-us-area .community-info {
    padding-left: 15px;
    margin-top: 40px;
  }

/* Contact */
  .contact-us-area .container > .row {
    display: block;
  }

  .contact-us-area .thumb {
    margin-bottom: 30px;
  }

  .contact-us-area .contact-box {
    padding-left: 15px;
  }



/* Footer */

  footer .f-items .item {
    margin-top: 50px;
  }

  footer .f-items .item:first-child,
footer .f-items .item:nth-child(2) {
    margin-top: 0;
  }

  footer .footer-bottom .row > .col-md-6:first-child {
    padding-left: 15px;
  }

  footer .footer-bottom {
    text-align: center;
  }

  footer .footer-bottom .row > .col-md-6:last-child {
    padding-right: 15px;
    text-align: center;
    margin-top: 15px;
  }

  footer .footer-bottom ul li {
    margin-left: 7px;
    margin-right: 7px;
  }
}


/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

  /* Heading */
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
    line-height: 1.4;
  }

  h5 {
    font-size: 16px;
    line-height: 1.4;
  }

  h6 {
    font-size: 14px;
    line-height: 1.4;
  }

  .default-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .padding-xl {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .default-padding.bottom-less {
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .default-padding-bottom {
    padding-bottom: 50px;
  }

  .default-padding-top {
    padding-top: 50px;
  }

  .default-padding.bottom-30 {
    padding-bottom: 0;
    padding-top: 50px;
  }

  .default-padding.bottom-20 {
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .padding-less-mobile {
    padding-top: 0;
  }

  .site-heading {
    margin-bottom: 30px;
  }

  .site-heading.single {
    margin-bottom: 20px;
  }

  .breadcrumb-area {
    padding: 100px 0;
  }

  .breadcrumb-area h1 {
    font-size: 36px;
  }

  /* Page Heading */

  .page-heading {
    padding: 50px 0;
  }

  .page-heading h2 {
    font-size: 36px;
  }

  /* Topbar Area */

  .top-bar-area {
    padding: 15px 0;
  }

  .top-bar-area .row {
    display: block;
    text-align: center;
  }

  .top-bar-area .text-right {
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 10px;
  }

  .top-bar-area .text-left {
    text-align: center;
  }

  .top-bar-area .text-left li {
    float: none;
    display: inline-block;
    padding-right: 15px;
  }


  /* Search Header Area */
  .search-header {
    padding: 50px 0;
  }

  .search-header .hero-box h2 {
    font-size: 36px;
    line-height: 1.2;
    margin-top: -5px;
  }

  .search-header .search-box form {
    max-width: 100%;
  }

/* Front Page Product */
  .front-page-product-area .tab-content .item {
    width: calc(100% / 2);
  }

  .front-page-product-area .nav-pills li {
    float: none;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .front-page-product-area .nav-pills li:last-child {
    margin-bottom: 0;
  }

  .product .heading h4 {
    position: inherit;
  }

/* Featured Product */
  .featured-pro-items .single-item > .row {
    display: block;
  }

  .featured-product-area .featured-pro-items .thumb {
    padding: 0;
  }

  .featured-pro-items .single-item .info {
    padding: 30px;
  }

  .featured-pro-items ul li:first-child {
    display: block;
    padding: 0;
    border: none;
    margin-right: 0;
  }

/* Product Single */
  .product-single-area .product-description .product-info {
    padding-right: 15px;
  }

  .product-single-area .product-description .product-intro {
    display: block;
  }

  .product-single-area .description .product-intro > ul {
    float: left;
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }

  .product-single-area .product-description .product-intro .button {
    text-align: center;
  }

  .product-single-area .product-description .product-intro .button a {
    margin-bottom: 5px;
    float: none;
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
  }

  .product-single-area .product-description .product-intro h5 {
    display: none;
  }

  .product-single-area .product-sidebar {
    margin-top: 50px;
  }

  .product-single-area .product-description .related-items .item {
    width: calc(100% / 2);
  }

  .comments-list .commen-item.reply {
    margin-left: 0;
  }



/* Author Info */

  .author-profile-area .author-info .item-info {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 30px;
    border-top: 1px solid #e7e7e7;
    padding-top: 30px;
  }

  .author-profile-area .author-info > .thumb img {
    max-width: 250px;
    margin: 0 auto 20px;
  }

  .author-profile-area .author-info .profile-info {
    padding-left: 15px;
  }

  .author-info .thumb, 
.author-info .bio {
    text-align: center;
  }

  .author-profile-area .author-info .nav-pills {
    text-align: center;
  }

  .nav-pills > li {
    float: none;
    text-align: center;
    display: block;
  }

  .author-profile-area .author-info .nav-pills li a {
    margin-right: 0;
  }

  .author-profile-area .author-info .item-info ul {
    display: block;
    text-align: center;
  }

  .author-profile-area .author-info .profile-info .item-info li {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .author-profile-area .author-info .profile-info > .top-info {
    display: block;
    align-items: center;
  }


/* About */
  .about-area .right-info {
    margin-top: 25px;
  }

  .about-area .fun-fact {
    display: block;
    margin-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .about-area .fun-fact:last-child {
    margin-bottom: 0;
  }


/* Why Chose Us */

  .why-us-area .why-us-items {
    margin-top: 0;
  }

  .why-us-area .why-us-items .single-item::after {
    display: none;
  }

  .why-us-area .why-us-items .item .icon i::after {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: none;
  }

  .why-us-area .why-us-items .single-item {
    margin-bottom: 30px;
  }

  .why-us-area .why-us-items .single-item:last-child {
    margin-bottom: 0;
  }

  .why-us-area .side-bg {
    display: none;
  }

/* Team */
  .team-items .item > .row {
    display: block;
    text-align: center;
  }

  .team-area .team-items .item .basic-info {
    padding: 30px;
    padding-bottom: 0;
  }

  .team-items .details {
    padding: 30px;
    padding-top: 15px;
  }

/* Our Features */
  .our-features-area .features-items .item {
    display: block;
    text-align: center;
  }

  .our-features-area .features-items .item .icon i {
    margin-bottom: 20px;
  }

  .our-features-area .features-items .single-item {
    border: none;
    margin-bottom: 30px;
  }

  .our-features-area .features-items .single-item:last-child {
    margin-bottom: 0;
  }

/* Testimonials */

  .testimonial-items .item .client {
    display: block;
    text-align: center;
  }

  .testimonial-items .item .client .thumb img {
    margin: 0 auto 10px;
  }

/* Blog */
  .blog-area .sidebar {
    padding-left: 15px !important;
    padding-right: 15px !important;
    float: left;
    width: 100%;
    margin-top: 50px;
  }

  .sidebar-item.gallery ul li {
    width: 50%;
  }

/* Join With us */

.join-us-area {
  text-align: center;
}

.join-us-area .subscription-content form {
  max-width: 80%;
  margin: 30px auto;
}

  .join-us-area .community-info {
    padding-left: 15px;
    margin-top: 30px;
    text-align: center;
  }

  .join-us-area .community-info .fun-fact-items {
    display: block;
  }

  .join-us-area .community-info .fun-fact-items .fun-fact {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .join-us-area .community-info .fun-fact-items .fun-fact:last-child {
    margin-bottom: 0;
  }


/* Followers */
  .author-profile-area .author-info .profile-info .followers .item, 
.author-profile-area .author-info .profile-info .following .item {
    width: calc(100% / 2);
  }

/* Contact */
  .contact-us-area .container > .row {
    display: block;
  }

  .contact-us-area .thumb {
    margin-bottom: 30px;
  }

  .contact-us-area .contact-box {
    padding-left: 15px;
  }

/* Error Page */
  .error-page-area .row {
    display: block;
  }

  .error-page-area .row .thumb {
    padding-right: 15px;
    margin-bottom: 30px;
  }

  .error-box .search form {
    position: relative;
    width: auto;
  }


/* Footer */


  footer .f-items .item {
    margin-bottom: 50px;
  }

  footer .f-items .item:last-child {
    margin-bottom: 0;
  }

  footer .footer-bottom .row > .col-md-6:first-child {
    padding-left: 15px;
  }

  footer .footer-bottom {
    text-align: center;
  }

  footer .footer-bottom .row > .col-md-6:last-child {
    padding-right: 15px;
    text-align: center;
    margin-top: 15px;
  }

  footer .footer-bottom ul li {
    margin-left: 7px;
    margin-right: 7px;
  }

  footer .card-info {
    text-align: center;
  }

  footer .card-info li {
    margin-right: 2px;
    margin-left: 2px;
  }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

/* Topbar */
  .top-bar-area .row {
    display: flex;
    text-align: inherit;
  }

  .top-bar-area .text-right {
    text-align: inherit;
    width: 33.33333%;
    float: none;
    margin-top: 0;
    text-align: right;
  }

  .top-bar-area .text-left {
    text-align: left;
    width: 66.66666667%;
  }

  .top-bar-area .text-left li {
    float: left;
    padding-right: 10px;
  }

/* Search Header */
  .search-header .search-box form {
    max-width: 70%;
  }


/* Front Page Product */
  .front-page-product-area .nav-pills li {
    float: left;
    width: auto;
    margin-bottom: 0;
  }

/* Featured Product */

  .featured-pro-items ul li:first-child {
    display: inline-block;
    padding-right: 20px;
    border-right: 1px solid #e7e7e7;
    margin-right: 20px;
  }

/* Product Single */
  .product-single-area .product-description .product-intro h5 {
    display: inline-block;
  }

  .product-single-area .product-description .related-items .item {
    width: calc(100% / 3);
  }


/* Author Profiel */
  .nav-pills > li {
    width: auto;
    text-align: center;
    display: inline-block;
  }

  .author-profile-area .author-info .item-info ul {
    display: block;
    text-align: center;
    width: auto;
  }

  .author-profile-area .author-info .profile-info .item-info li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .author-profile-area .author-info .profile-info .item-info .rating {
    position: relative;
    top: -5px;
  }

/* Testimonials */

  .testimonial-items .item .client {
    display: flex;
    text-align: left;
  }

  .testimonial-items .item .client .thumb img {
    margin: 0;
  }

/* Join With us */
  .join-us-area .subscription-content form {
    max-width: 400px;
  }


/* Followers */
  .author-profile-area .author-info .profile-info .followers .item, 
.author-profile-area .author-info .profile-info .following .item {
    width: calc(100% / 3);
  }

/* Error Page */

  .error-box .search form {
    width: 400px;
  }
}

/* Small Layout: 400px. */
@media only screen and (max-width: 400px) {
  .front-page-product-area .tab-content .item {
    width: calc(100% / 1);
  }

  .search-header .hero-box ul {
    display: none;
  }

  /* About */
  .about-area .right-info {
    margin-top: 25px;
  }

  .comments-list .commen-item .content h3 span, 
.comments-list .commen-item .content h4 span, 
.comments-list .commen-item .content h5 span {
    display: none;
  }
}

/* Custom Width Layout: 400px. */
@media only screen and (min-width: 400px) and (max-width: 767px) {

  .about-area .fun-fact {
    display: inline-block;
    margin-right: 30px;
    text-align: left;
    margin-bottom: 0;
  }
}


 /* Custom Layout: 1199px. */
@media only screen and (min-width: 700px) and (max-width: 1199px) {
  .trend-product-area .single-item,
  .trend-product-area .equal-height {
    width: 50%;
    float: left;
  }
}


/* Custom Layout: 990px. */
@media only screen and (min-width: 990px) and (max-width: 1199px) {

  .product-single-area .product-description .product-intro {
    display: block;
  }

  .product-single-area .description .product-intro > ul {
    float: left;
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }

  .product-single-area .product-description .product-intro .button {
    text-align: center;
  }

  .product-single-area .product-description .product-intro .button a {
    margin-bottom: 5px;
    float: none;
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
  }
}